<footer>
    <div class="f-info">
        <div class="f-info-socials">
         <a href="https://www.linkedin.com/in/tapan-kumar-464405260/"><i class="fa-brands fa-square-facebook"></i> </a>
           <a href="https://www.instagram.com/tapankumar4702" style="text-decoration:none;text-shadow: none;"><i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.linkedin.com/in/tapan-kumar-464405260/" style="text-decoration: none;text-shadow: none;"><i class="fa-brands fa-linkedin"></i></a>
           <a href="https://github.com/tapanChaubey" style="text-decoration: none; text-shadow: none;"><i class="fa-brands fa-square-github"></i></a>
        </div>
            <div class="fa-brand"> &copy; WnaderLust Privete Limmeted</div>
            <div class="f-info-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </div>
       
    </div>
</footer>