<%layout('/layouts/boilerplate')%>
<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3">
        <%for(let list of allListings){%>
            <a href="/listing/<%=list.id%>" class="listing-list">
                <div class="card col listing-card">
                    <img src="<%=list.image%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                       <b> <%=list.title%></b><br>
                        &#8377; <%=list.price.toLocaleString("en-IN")%>
                      </p>
                    </div>
                  </div>
            </a>
              <%}%>
    </div>
    
</body>